<nav class="navbar navbar-inverse"
  *ngIf="currentAction!=='JsandocShared'">
   <div class="container-fluid">
    <ul class="nav navbar-nav">
        <li
          [ngClass]='{"active":currentAction==="JsandocHome"}'>
          <a (click)="gotoAction('JsandocHome',userProfile.user_namespace)">
            Inicio
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li [ngClass]='{"active":currentAction==="JsandocNew"}'>
          <a (click)="gotoAction('JsandocNew',userProfile.user_namespace)">
            Nuevo
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li
          *ngIf="currentAction==='JsandocEdit' && currentDocNamespace"
          [ngClass]='{"active":currentAction==="JsandocEdit"}'>
          <a (click)="gotoAction('JsandocEdit',userProfile.user_namespace,currentDocNamespace)">
            Edición
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li
          *ngIf="currentAction==='JsandocShow' && currentDocNamespace"
          [ngClass]='{"active":currentAction==="JsandocShow"}'>
          <a (click)="gotoAction('JsandocShow',userProfile.user_namespace,currentDocNamespace)">
            Vista
            <span class="sr-only">(current)</span>
          </a>
        </li>
    </ul>
      <!-- Brand and toggle get grouped for better mobile display -->
    </div>
</nav>
<router-outlet
>
</router-outlet>