<nav class="navbar navbar-inverse"
  *ngIf="currentAction!=='ResumeShow'">
   <div class="container-fluid">
    <ul class="nav navbar-nav">
        <li
          *ngIf="!currentParam"
          [ngClass]='{"active":currentAction==="ResumeHome"}'>
          <a (click)="gotoAction('ResumeHome',currentParam)">
            Inicio
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li
          *ngIf="currentParam"
          [ngClass]='{"active":currentAction==="ResumeHome2"}'>
          <a (click)="gotoAction('ResumeHome2',currentParam)">
            Inicio
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li [ngClass]='{"active":currentAction==="ResumeNew"}'>
          <a (click)="gotoAction('ResumeNew',currentParam)">
            Nuevo
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li
          *ngIf="currentParam"
          [ngClass]='{"active":currentAction==="ResumeEdit"}'>
          <a (click)="gotoAction('ResumeEdit',currentParam)">
            Editar
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li
          *ngIf="currentParam"
          [ngClass]='{"active":currentAction==="ResumeShow"}'>
          <a (click)="gotoAction('ResumeShow',currentParam)">
            Vista
            <span class="sr-only">(current)</span>
          </a>
        </li>
    </ul>
      <!-- Brand and toggle get grouped for better mobile display -->
    </div>
</nav>
<router-outlet
[action]="currentAction"
>
</router-outlet>