<span style="padding:5px; display: table-cell;" *ngIf="editionActive && depth===0">
  <button
          class="btn btn-xs"
          title="Valor"
          (click)="setEditionOnElement(0)"
          [ngClass]='{"btn-default":!getEditionOnElement(0),"btn-success":getEditionOnElement(0)}'
  >
    <span
          class="glyphicon glyphicon-edit"
          aria-hidden="true"
    >
    </span>
  </button>
</span>
<add-element  *ngIf="editionActive  && getEditionOnElement(0)"
              (pushdata)=add($event)
              [section]="section"
              [dataType]="dataType"
              [keys]="keys"
              style="display: table-cell;"
>
</add-element>
<div *ngIf="dataType === 'property-value'">
  <div  *ngFor="#key of keys; #position = index #end = last"
        class="left-indent"
  >
    <span
          *ngIf="getCase(section[key])!=='primitive'"
          class="glyphicon"
          aria-hidden="true"
          style="cursor:pointer;"
          (click)="panelToggle(position)"
          [ngClass]='{"glyphicon-triangle-right":hiddenPosition(position),"glyphicon-triangle-bottom":!hiddenPosition(position)}'
    >
    </span>
    <span
          class="section-title"
          [ngClass]='{"with-child-over":childElementOver ===section[key] || key===overThisElement}'
          (mouseenter)="overThis(key)"
          (mouseleave)="leaveThis(key)"
          (click)="panelToggle(key)"

    >
      {{key}}:
    </span>
    <span
          *ngIf="getCase(section[key])==='primitive'"
          [ngClass]='{"with-child-over":key===overThisElement}'
          (mouseenter)="overThis(key)"
          (mouseleave)="leaveThis(key)"
    >
      {{section[key]}}
    </span>
    <div *ngIf="getCase(section[key])!=='primitive'">
      <resume-section [section]="section[key]"
                      [sectionTitle]="position+1"
                      [editionActive]="editionActive"
                      (childover)="notifyOverToParent($event)"
                      (childleave)="notifyLeaveToParent($event)"
                      [hidden]="hiddenPosition(position)"
                      [depth]="depth+1"
                      [openAll]="openAll"
                      [collapseAll]="collapseAll"
      >
      </resume-section>
    </div>
  </div>
</div>

<div *ngIf="dataType === 'array'">
  <div
        *ngFor="#item of section; #position = index #end = last"
  >

    <div *ngIf="getCase(item) === 'primitive'"
          [ngClass]='{"with-child-over":item===overThisElement}'
          (mouseenter)="overThis(item)"
          (mouseleave)="leaveThis(item)"
          class="left-indent"
    >
      {{item}}
    </div>

    <div *ngIf="getCase(item) !== 'primitive'"
          class="left-indent"
    >
        <span
          class="glyphicon"
          aria-hidden="true"
          style="cursor:pointer;"
          (click)="panelToggle(position)"
          [ngClass]='{"glyphicon-triangle-right":hiddenPosition(position),"glyphicon-triangle-bottom":!hiddenPosition(position)}'
        >
        </span>
      <resume-section [section]="item"
                      [sectionTitle]="position+1"
                      [editionActive]="editionActive"
                      (childover)="notifyOverToParent($event)"
                      (childleave)="notifyLeaveToParent($event)"
                      [hidden]="hiddenPosition(position)"
                      [depth]="depth+1"
                      [openAll]="openAll"
                      [collapseAll]="collapseAll"
      >
      </resume-section>
    </div>
  </div>
</div>