<div>
  <h1>
    Bienvenido Beny
  </h1>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Mis resumenes</h3>
    </div>
    <div class="panel-body" style="margin:10px;">
      <div class="row">
        <div class="col-xs-12" style="border:1px solid #CCCCCC; border-radius:5px;">
          <div class="col-xs-1">
            Beny
          </div>
          <div class="col-xs-11" style="padding-top:3px; padding-bottom:3px;">
            <button type="button" class="btn btn-success btn-sm"  (click)="gotoAction('ResumeShow','beny')">Ver</button>
            <button type="button" class="btn btn-warning btn-sm"  (click)="gotoAction('ResumeEdit','beny')">Editar</button>
            <button type="button" class="btn btn-danger btn-sm"  (click)="gotoAction('ResumeEdit','beny')">Borrar</button>
            <button type="button" class="btn btn-info btn-sm"  (click)="gotoAction('ResumeShared','beny')">Compartido</button>
          </div>
        </div>
        <div class="col-xs-12" style="border:1px solid #CCCCCC; border-radius:5px;">
          <div class="col-xs-1">
            Jose
          </div>
          <div class="col-xs-11" style="padding-top:3px; padding-bottom:3px;">
            <button type="button" class="btn btn-success btn-sm"  (click)="gotoAction('ResumeShow','jose')">Ver</button>
            <button type="button" class="btn btn-warning btn-sm"  (click)="gotoAction('ResumeEdit','jose')">Editar</button>
            <button type="button" class="btn btn-danger btn-sm"  (click)="gotoAction('ResumeEdit','jose')">Borrar</button>
            <button type="button" class="btn btn-info btn-sm"  (click)="gotoAction('ResumeShared','jose')">Compartido</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>